<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div>
  <%= link_to 'Edit', edit_author_post_path(@post), class: 'btn btn-sm btn-success'%>
  <%= link_to 'Remove', author_post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete #{@post.title}?" }, class: 'btn btn-sm btn-danger' %>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-5 text-xs-center vineeth">
    <h1><%= @post.title %></h1>
    <p><%= @post.display_day_published %></p>
    <%= @post.body %>
  </div>
</div>
